{% extends 'main.html' %} {% block content %}

<section class='home'>
    <div class="container text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class='makan' src="static/img/unnes.png" alt="heart" width="100">
                    <div class="col title">
                        <h1 class='mb-5'>SKRIPSI</h1>
                        <h3 class='gridsearch '>Optimasi Algoritma Convolutional Neural Network Dengan GridSearchCV Untuk Mengklasifikasikan Jenis Kelamin Berdasarkan Citra Mata</h3>
                        <p class='deskripsi mt-5 mb-0'>Disusun Oleh: </p>
                        <p class='deskripsi'>Tulus Pangidoan Sormin - 4611419003</p>
                        <p class='univ'>Program Studi Teknik Informatika
                            <br>
                            Jurusan Ilmu Komputer
                            <br>
                            Fakultas Matematika dan Ilmu Pengetahuan Alam
                            <br>
                            Universitas Negeri Semarang
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
</div>
